/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}


/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

*:focus {
	outline: none !important;
}

section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Make Gutenberg Editor Fill Width */
.wp-block {
	max-width: 100%;
}

/* Dropdown toggle activate on hover */
.nav-item:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 100%;
    display: block;
}


/* ==========================================================================
   Custom CSS
   ========================================================================== */

h1 {
  font-family: "Arial Black";
  font-size: 44px;
  line-height: 56px;  
  margin-top: 0px;
}

h2 {
  font-family: "Arial Black";
  font-size: 36px;
  line-height: 40px;
  margin-top: 0px;
}

h3 {
  font-family: "Arial Black";
  font-size: 24px;
  line-height: 28px;
  margin-top: 0px;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0px;
}

p {
  font-family: 'Courier Prime', monospace;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0px;
}

p a {
  font-weight: bold;
  font-family: 'Courier Prime', monospace;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-blue {
  color: #4285f4;
}

.color-highlight-yellow {
  color: #ffee86;
}

.color-lightgray {
  color: #eeeeee;
}

.home-hero {
  position: relative;
}

.home-hero-wrap {
  /* border: 1px solid white; */
}

.home-hero-background {
  background-image: url(../images/bk-blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 80%;
  width: 100%;
}

.home-hero-background::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid #ffffff;
}

.report-card-hero .home-hero-background {
  background-image: url(../images/report-cards-bk-blue.png);
}

.home-header__logo-img {
  height: 80px;
}

.home-header .header-menus {
  display: flex;
  align-items: center;
}

.home-header .header-menus .navbar-nav {
  font-size: 0px;
}

.home-header .header-menus .navbar-nav .nav-item {
  display: inline-block;
  border: 1px solid #ffffff;
  border-top: 0px;
  border-right: 0px;
}

.header-menus .header-menu-search {
  padding: 3px 30px;
  border: 1px solid #ffffff;
  font-size: 16px;
  border-top: 0px;
  border-right: 0px;
  color: #ffffff;
}

.header-menus .header-menu-search input {
  background: transparent;
  outline: none;
  border: 0px;
  color: #ffffff;
  width: 100px;
}

.header-menus .header-menu-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
}

.header-menus .header-menu-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

.header-menus .header-menu-search input::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.header-menus .header-menu-search i {
  cursor: pointer;
}

.home-header .header-menus .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
  padding: 3px 30px;
}

.home-header-logo-link {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
}

.home-hero .navbar {
  padding: 30px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-header .navbar-collapse {
  justify-content: flex-end;
  align-items: flex-start;
}

.home-header .navbar-brand {
  margin-top: 30px;
  margin-left: 30px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight span {
  position: relative;
}

.highlight::before {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 80%;
  transform: translateY(30%);
  background: #ffee86;
  opacity: .25;
}

.home-sub-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.home-sub-content-image-wrap {
  width: 50%;
}

.home-sub-content-image-wrap img {
  width: 100%;
}

.home-sub-content-table-wrap {
  width: 45%;
}

.home-hero-table {
  width: 100%;
  border: 1px solid #000000;
  padding: 30px 40px;
  background: #ffffff;
}

select {
  border: 1px solid #000000;
  padding: 10px;
  font-size: 24px;
  background: transparent;
  font-weight: bold;
}

.home-hero-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-hero-table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-hero-table-col {
  padding: 10px;
  font-size: 18px;
  min-width: 50px;
}

.home-hero-table-col:nth-of-type(2) {
  flex-grow: 1;
}

.home-hero-table-row:nth-of-type(odd) {
  background: #F3F7FF;
}

.home-hero-table-mark {
  border: 1px solid transparent;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  width: 30px;
  border-top-right-radius: 50% 50%;
  display: inline-block;
  text-align: center;
  height: 24px;
  line-height: 23px;
  text-transform: uppercase;
}

.home-hero-table-mark--red-outline {
  border: 1px solid #ff0000;
}

.home-hero-table-mark--fill-green {
  background: #6CC798;
}

.home-hero-table-title {
  text-transform: uppercase;
  margin: 0px;
}

.home-hero-table-body {
  margin-top: 30px;
}

.home-hero-table-footer {
  text-align: right;
  margin-top: 30px;
}

.home-hero-table-link {
  text-decoration: none;
  color: #70D0FF;
  background: #1E9BFA;
  text-transform: uppercase;
  padding: 10px 50px;
  cursor: pointer;
}

.home-hero-table-link:hover {
  text-decoration: none;
  color: #70D0FF;
}

.home-hero-content {
  position: relative;
}

.home-search {
  border: 1px solid #000000;
  padding: 50px 0px;
  background-image: url(../images/bk-gray.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px;
}

.form-group {
  position: relative;
  border: 1px solid #000000;
  background: #ffffff;
  padding: 5px;
  display: flex;
}

.form-group input {
  flex-grow: 1;
  padding-right: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #79787A;
  border: 0px;
  outline: none;
}

.custom-btn {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  display: inline-block;
  min-width: 150px;
  text-decoration: none;
}

.custom-btn:hover {
  text-decoration: none;
}

.custom-btn-blue {
  background: #4285F4;
  color: #ffffff;
}

.custom-btn-blue:hover {
  color: #ffffff;
}

.home-do-it{
  margin-top: 60px;
  padding: 60px 0px;
  border: 1px solid #000000;
}

.home-do-it-wrap {
  padding: 30px 0px;
}

.custom-btn-wrap {
  margin-top: 30px;
}

.home-do-it .custom-btn {
  min-width: 250px;
}

.footer {
  background: #EEEEEE;
  padding: 50px 0px;
  margin-top: 60px;
}

.footer-logo__img {
  height: 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-menu-wrap {
  display: flex;
}

.footer-menu-col {
  width: 200px;
}

.footer-menu-head {
  padding: 10px 20px;
  border: 1px solid #000000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 0px;
}

.footer-menu-links {
}

.footer-menu-link-wrap {
  border-bottom: 1px solid #000000;
  padding: 10px 20px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.footer-menu-link {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
}

.footer-menu-link:hover {
  color: #000000;
  text-decoration: none;
}

.footer-social-link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.footer-social-link-wrap:hover {
  color: #000000;
}

.footer-social-link-wrap:last-of-type {
  border-left: 0px;
}

.footer-socials-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}

.footer-submit-label {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-menu-col:nth-of-type(1) .footer-menu-head,
.footer-menu-col:nth-of-type(2) .footer-menu-head,
.footer-menu-col:nth-of-type(3) .footer-menu-head {
  border-right: 0px;
}

.footer-menu-col:nth-of-type(3) .footer-menu-link-wrap {
  border-left: 0px;
}

.text-yellow-badge {
  display: inline-block;
  background: #FFEE86;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 10px 30px;
  font-family: 'Arial Black';
}

.text-yellow-badge:hover {
  color: #000000;
}

.company-hero-badge-wrap {
  margin-top: 30px;
  text-align: center;
}

.company-hero .home-hero-background,
.about-hero .home-hero-background,
.report-card-hero .home-hero-background{
  height: 100%;
}

.company-hero .home-hero-content,
.about-hero .home-hero-content,
.report-card-hero .home-hero-content {
  padding-bottom: 100px;
}


.companies-alpha-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: bold;
  font-family: "Arial Black";
}

.companies-alpha-links-title {
  margin-right: 15px;
}

.companies-alpha-link {
  margin: 0px 5px;
  cursor: pointer;
}

.companies-alpha-link:hover {
  color: #4285f4;
  text-decoration: underline;
}

.companies-group-alpha {
  margin-bottom: 10px;
}

.company-link-wrap {
  margin-bottom: 10px;
}

.company-link {
  font-size: 18px;
  line-height: 28px;
  color: #000000 !important;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}

.company-link:hover {
   text-decoration: underline;
   color: #4285f4 !important;
}

.companies-group {
  margin-top: 50px;
}

.companies-name-list {
  border-top: 1px solid #000000;
  padding-top: 20px;
}

.companies-list {
  margin-top: 50px;
}

.about-description {
  position: relative;
  padding-top: 170px;
  padding-bottom: 140px;
}

.about-description::before{
  content: '';
  position: absolute;
  left: 25px;
  top: 30px;
  bottom: 30px;
  right: 25px;
  border: 1px solid #000000;
}

.about-find-report {
  position: relative;
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #161616;
  color: #ffffff;
}

.about-find-report::before {
  content: '';
  position: absolute;
  left: 25px;
  top: 30px;
  right: 25px;
  bottom: 30px;
  border: 1px solid #ffffff;
}

.about-other-top {
  height: 26px;
  border: 2px solid #4285F4;
  border-bottom: 0px;
}

.about-other-bottom {
  height: 26px;
  border: 2px solid #4285F4;
  border-top: 0px;
}

.about-other {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  padding-bottom: 0px;
}

.about-other-wrap {
  width: 30%;
  margin: 0px 50px;
}

.about-other-middle {
  padding: 0px 50px;
  position: relative;
  min-height: 84px;
  display: flex;
  align-items: center;
}

.about-other-middle p {
  margin-bottom: 0px;
}

.about-other-middle img {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about-other-link-wrap {
  margin-top: 20px;
  text-align: right;
}

.report-card-hero-badge-wrap {
  margin-top: 60px;
  text-align: center;
}

.report-card-groups {
  padding: 60px 0px;
}

.report-card-group-list {
  padding-top: 30px;
  border-top: 1px solid #979797;
  display: flex;
  margin-bottom: 60px;
}

.report-card-group:last-of-type .report-card-group-list {
  margin-bottom: 0px;
}

.report-cards-wrap {
  padding: 60px 30px;
  border: 1px solid #000000;
  width: 380px;
  margin-right: 15px;
  text-decoration: none;
}

.report-cards-wrap h3 {
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: -0.2px;
  color: #000000;
  position: relative;
}

.report-cards-wrap h3 span {
  position: relative;
}

.report-cards-wrap:hover h3:before {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 80%;
  top: 10px;
  background: #ffee86;
}

.report-cards-link {
  margin-top: 60px;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
  display: inline-block;
}

.report-cards-wrap:hover .report-cards-link {
  color: #4285F4;
  text-decoration: underline;
}

.report-card-accordian {
  padding-top: 40px;
}

.report-card-accordian-filter {
  font-family: "Arial Black";
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #000000;
  margin-bottom: 60px;
}

.report-card-accordian-filter-title {
  margin-right: 15px;
  display: inline-block;
}

.report-card-accordian-filter-link {
  width: 40px;
  text-align: center;
  display: inline-block;
  border: 1px solid #D8D8D8;
  margin-right: 10px;
  cursor: pointer;
}

.report-card-accordian-filter-link.active {
  background: #000000;
  color: #ffffff;
}

.report-card-accordian-table-row {
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.report-card-accordian-table-head {
  font-family: 'Arial Regular';
  border-bottom: 1px solid #979797;
}

.report-card-accordian-table-head .report-card-accordian-table-row {
  align-items: flex-end;
}

.report-card-accordian-table-col .fa {
  color: #757575;
}

.report-card-accordian-table-col {
  padding: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}

.report-card-accordian-table-head .report-card-accordian-table-col {
  text-align: center;
}

.report-card-accordian-table-col:nth-of-type(1){
  width: 15%;
}

.report-card-accordian-table-col:nth-of-type(2){
  width: 15%;
}

.report-card-accordian-table-col:nth-of-type(3){
  width: 10%;
}

.report-card-accordian-table-col:nth-of-type(4){
  width: 10%;
}

.report-card-accordian-table-col:nth-of-type(5){
  width: 30%;
}

.report-card-accordian-table-col:nth-of-type(6){
  width: 10%;
}

.report-card-accordian-table-col:nth-of-type(6){
  width: 10%;
}

.report-card-accordian-table-col:nth-of-type(7){
  width: 5%;
}

.report-card-accoridan-load-btn-wrap {
  text-align: center;
  margin-top: 30px;
}

.report-card-accordian-table-body {
  font-family: 'Courier Prime', monospace;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.report-card-accordian-table-body .report-card-accordian-table-row:nth-of-type(odd) {
  background: #F3F7FF;
}

.report-card-accordian-table-col-content-extend {
  display: none;
}

.report-card-accordian-table-col-content {
  text-align: center;
}

.header {
  background: #4285F4;
}

.header .home-header .header-menus {
  border-top: 1px solid #ffffff;
}

.header .home-header {
  align-items: center;
}

.single-company__title {
  margin-top: 0px;
  border-bottom: 1px solid #979797;
  padding-bottom: 15px;
  margin-bottom: 40px; 
}

.single-company-info {
  margin-top: 100px;
}

.single-company-info-row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.single-company-info-col {
  width: 33.33%;
  margin-bottom: 30px;
}

.single-company-info__title {
  color: #000000;
  font-family: "Arial Regular";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.single-company-info__value {
  color: #000000;
  font-family: "Arial Black";
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.single-company-description {
  color: #000000;
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 35px;
}

.single-company-info-block {
  margin-bottom: 60px;
}

.single-company-info-block__title {
  padding-bottom: 15px;
  border-bottom: 1px solid #979797;
  text-transform: uppercase;
}

.single-company-info-block-wrap {
  color: #4285F4;
  font-family: 'Courier Prime', monospace;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.single-company-logo-wrap {
  border: 1px solid #979797;
  background-color: #FFFFFF;
  box-shadow: 0 40px 30px -30px rgba(0,0,0,0.1);
  margin-bottom: 70px;
  width: 100%;
  position: relative;
  height: 0px;
  padding-top: 60%;
}

.single-company-logo__img {
  position: absolute;
  left: 50%;
  max-width: calc(100% - 40px);
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 40px);
}

.single-company-link-wrap {
  margin-bottom: 10px;
}

.single-company-link {
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.single-company-file-wrap {
  margin-bottom: 10px;
}

.single-company-grade-badget {
  border-radius: 4px;
  width: 50px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

.single-company-grade-badget.grade-a {
  color: #ffffff;
  background: #4285F4
}

.single-company-grade-badget.grade-b {
  color: #ffffff;
  background: #5FC18E
}

.single-company-grade-badget.grade-c {
  color: #ffffff;
  background: #FAE76F
}

.single-company-grade-badget.grade-d {
  color: #ffffff;
  background: #FCB44F
}

.single-company-grade-badget.grade-e {
  color: #ffffff;
  background: #FF7D7E
}

.single-company-grade-badget.grade-f {
  color: #ffffff;
  background: #FF7D7E
}

.col-agreement_grade {
  text-transform: uppercase;
}

.col-forced_arbitration {
  text-transform: capitalize;
}

.col-sortable {
  cursor: pointer;
}

.fa-caret-up {
  display: none;
}

.fa-caret-down {
  display: none;
}

[sort-direction="asc"] .fa-caret-up {
  display: none;
}

[sort-direction="asc"] .fa-caret-down {
  display: inline-block;
}

[sort-direction="desc"] .fa-caret-up {
  display: inline-block;
}

[sort-direction="desc"] .fa-caret-down {
  display: none;
}

.link-btn {
  text-decoration: none;
}

.link-btn:hover {
  text-decoration: none;
}

.report-card-accordian-table a {
  color: #757575;
  text-decoration: none;
}

.report-card-accordian-table a:hover {
  color: #757575;
  text-decoration: none;
}

.footer-menu-wrap #menu-footer-menu .menu-item a{
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.28px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000000;
  display: inline-block;
  width: 100%;
  border-right: 0px;
}

.footer-menu-wrap #menu-footer-menu .menu-item:last-of-type a {
  border-right: 1px solid #000000;
}

.footer-menu-wrap #menu-footer-menu .menu-item .sub-menu a {
  color: #000000;
  font-family: Courier;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 16px;
  text-decoration: none;
  text-transform: initial;
  padding: 10px;
  display: inline-block;
  border-top: 0px;
  border-right: 1px solid #000000;
  border-left: 0px;
}

.footer-menu-wrap #menu-footer-menu .menu-item:nth-of-type(2) .sub-menu a {
  border-left: 1px solid #000000;
}

.footer-menu-wrap #menu-footer-menu .menu-item .sub-menu {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.footer-menu-wrap #menu-footer-menu {
  margin-top: 0px;
}

.single-commpay-post-wrap .comment-form-cookies-consent {
  display: none;
}

.single-commpay-post-wrap input,
.single-commpay-post-wrap textarea {
  width: 100%;
  border: 1px solid #979797;
  padding: 10px 20px;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #000000;
}

.single-commpay-post-wrap textarea {
  height: 150px;
  resize: none;
}

.single-commpay-post-wrap input[type="submit"] {
  width: auto;
  background-color: #454545;
  padding: 10px 25px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
}

.comment-row {
  margin-bottom: 20px;
}

.comment-row__text {
  color: #000000;
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.comment-row__text p {
  margin-bottom: 5px;
}

.comment-row-info {
  color: #757575;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.search-list {
  margin-top: 50px;
}